*{
    padding: auto;
    margin: auto;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


a{
    text-decoration: none;
    color: white;
    opacity: 0;
}
.in{
    position: absolute;
    top: 57px;
    left: 270px;
    width: 1920px;
    height: 1000px;
    color: var(--unnamed-color-000000);
    font: normal normal 300 34px/50px Myriad Pro;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.int{
    position: absolute;
    top: 34%;
    left: 27%;
    color: var(--unnamed-color-000000);
    font: normal normal 300 34px/50px Myriad Pro;
    letter-spacing: 0px;
    opacity: 1;
}
.intt{
    text-decoration: none;
    position: absolute;
    top: 58px;
    left: 1279px;
    width: 1920px;
    height: 1000px;
    color: var(--unnamed-color-000000);
    font: normal normal 300 34px/50px Myriad Pro;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.inttt{
    text-decoration: none;
    position: absolute;
    top: 58px;
    left: 1569px;
    width: 1920px;
    height: 1000px;
    color: var(--unnamed-color-000000);
    font: normal normal 300 34px/50px Myriad Pro;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
}
.content {
    padding-top: 9%; /* Ajustar al tamaño del header */
    top: 167px;
    left: 0px;
    width: 1920px;
    height: 1000px;
}
.ingre{
    position: absolute;
    top: 572px;
    left: 1180px;
    width: 366px;
    height: 55px;
}
.debi{
    position: absolute;
    top: 644px;
    left: 1005px;
    width: 698px;
    height: 160px;
}
.conoce{
    position: absolute;
    top: 843px;
    left: 1249px;
    width: 209px;
    height: 53px;
}
.Consulta {
    position: absolute;
    top: 261px;
    left: 108px;
    width: 632px;
    height: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Agrega una sombra para destacarla */
}
.quees{
    position: absolute;
    top: 1356px;
    left: 674px;
    width: 622px;
    height: 55px;
}
.esun{
    position: absolute;
    top: 1481px;
    left: 215px;
    width: 782px;
    height: 220px;
}

.esun2{
    position: absolute;
    top: 1702px;
    left: 167px;
    width: 874px;
    height: 336px;
/* UI Properties */
color: var(--unnamed-color-000000);
text-align: center;
font: normal normal 300 36px/50px Myriad Pro;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.para{
    position: absolute;
    top: 1349px;
    left: 953px;
    width: 1024px;
    height: 768px;
}

.eta{
    position: absolute;
    top: 2118px;
    left: 434px;
    width: 290px;
    height: 56px;   
}

.etap{
    position: absolute;
    top: 2216px;
    left: 756px;
    width: 394px;
    height: 55px;
}

.etap1{
    position: absolute;
    top: 2323px;
    left: 337px;
    width: 132px;
    height: 45px;
}
.etap2{
    position: absolute;
    top: 2323px;
    left: 887px;
    width: 132px;
    height: 45px;
}
.etap3{
    position: absolute;
    top: 2323px;
    left: 1437px;
    width: 132px;
    height: 45px;
}
.T1{
    position: absolute;
    top: 2431px;
    left: 209px;
    width: 388px;
    height: 122px;
}
.T2{
    position: absolute;
    top: 2431px;
    left: 713px;
    width: 480px;
    height: 51px;
}
.T3{
    position: absolute;
    top: 2431px;
    left: 1250px;
    width: 506px;
    height: 51px;
}
.banco{
    position: absolute;
    top: 2553px;
    left: 738px;
    width: 430px;
    height: 55px;

}
.b1{
    position: absolute;
    top: 2602px;
    left: 209px;
    width: 399px;
    height: 203px;
}
.b2{
    position: absolute;
    top: 2561px;
    left: 710px;
    width: 487px;
    height: 244px;
}
.b3{
    position: absolute;
    top: 2647px;
    left: 1232px;
    width: 524px;
    height: 119px;
}
.b4{
    position: absolute;
    top: 2844px;
    left: 644px;
    width: 243px;
    height: 84px;
}
.b5{
    position: absolute;
    top: 2766px;
    left: 960px;
    width: 299px;
    height: 212px;
}
.prt{
    position: absolute;
    top: 2999px;
    left: 842px;
    width: 206px;
    height: 56px;
}
.prtt{
    position: absolute;
    top: 3154px;
    left: 724px;
    width: 472px;
    height: 55px;
}
.preg1{
    position: absolute;
    top: 3228px;
    left: 322px;
    width: 1276px;
    height: 365px;
}
.preg2{
    position: absolute;
    top: 3641px;
    left: 205px;
    width: 1510px;
    height: 286px;
}
.preg3{
    position: absolute;
    top: 4105px;
    left: 147px;
    width: 1618px;
    height: 431px;
}
.preg4{
    position: absolute;
    top: 4555px;
    left: 77px;
    width: 1776px;
    height: 326px;
}
.preg5{

    position: absolute;
    top: 4992px;
    left: 92px;
    width: 1740px;
    height: 286px;
}
.vrs{
    position: absolute;
    top: 3946px;
    left: 918px;
    width: 76px;
    height: 56px;    
}
.vrs2{
    position: absolute;
    top: 4904px;
    left: 927px;
    width: 76px;
    height: 56px;
}
.tmpr{
    position: absolute;
    top: 5306px;
    left: 91px;
    width: 1742px;
    height: 317px;
}
.final{
    position: absolute;
    top: 5711px;
left: 0px;
width: 1920px;
height: 285px;
}
.tnmsp{
    position: absolute;
    top: 5349px;
    left: 695px;
    width: 582px;
    height: 55px;   
}

.nds{
    position: absolute;
    top: 5445px;
    left: 318px;
    width: 1318px;
    height: 40px;    
}
.bnt{
    background: transparent url('img/Boton_ConocerMás.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    top: 5526px;
    left: 873px;
    width: 209px;
    height: 53px;    
}
